In [ ]:
!pip install pdfplumber

Collecting pdfplumber
  Downloading https://files.pythonhosted.org/packages/2c/06/eb883f00ea3d78a2f860c593645498c39120f763d30b099cc98c4392b312/pdfplumber-0.5.23.tar.gz
Collecting pdfminer.six==20200517
  Downloading https://files.pythonhosted.org/packages/b0/c0/ef1c8758bbd86edb10b5443700aac97d0ba27a9ca2e7696db8cd1fdbd5a8/pdfminer.six-20200517-py3-none-any.whl (5.6MB)
     |████████████████████████████████| 5.6MB 6.2MB/s
Requirement already satisfied: Pillow>=7.0.0 in /usr/local/lib/python3.6/dist-packages (from pdfplumber) (7.0.0)
Collecting Wand
  Downloading https://files.pythonhosted.org/packages/21/4d/0c33672e992ed80983895b36d3fbc3203f8e4a0fd36eb74ea07a563ae3ad/Wand-0.6.3-py2.py3-none-any.whl (133kB)
     |████████████████████████████████| 143kB 34.9MB/s
Collecting pycryptodome
  Downloading https://files.pythonhosted.org/packages/17/55/17fa0b55849dc135f7bc400993a9206bf06d1b5d9520b0bc8d47c57aaef5/pycryptodome-3.9.8-cp36-cp36m-manylinux1_x86_64.whl (13.7MB)
     |████████████████████████████████| 13.7MB 244kB/s
Requirement already satisfied: chardet; python_version > "3.0" in /usr/local/lib/python3.6/dist-packages (from pdfminer.six==20200517->pdfplumber) (3.0.4)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.6/dist-packages (from pdfminer.six==20200517->pdfplumber) (2.2.2)
Building wheels for collected packages: pdfplumber
  Building wheel for pdfplumber (setup.py) ... done
  Created wheel for pdfplumber: filename=pdfplumber-0.5.23-cp36-none-any.whl size=29176 sha256=19a7f314ea166d6d2ddacc657d093f76c5847fcdc16aeee09c62224b4cdbea84
  Stored in directory: /root/.cache/pip/wheels/f6/4d/ae/abb7b92fbed5d09a835c259f26d2a3223ea929a0ad6d322097
Successfully built pdfplumber
Installing collected packages: pycryptodome, pdfminer.six, Wand, pdfplumber
Successfully installed Wand-0.6.3 pdfminer.six-20200517 pdfplumber-0.5.23 pycryptodome-3.9.8

In [ ]:
import re

import requests
import pdfplumber

import pandas as pd
from collections import namedtuple

In [ ]:
Inv = namedtuple('Inv', 'vend_num vend_name inv_dt due_dt inv_amt net_amt description')


VEND_NUM = 19

In [ ]:
def download_file(url):
  local_filename = url.split('/')[-1]

  with requests.get(url) as r:
    with open(local_filename, 'wb') as f:
      f.write(r.content)

  return local_filename

In [ ]:
iv_url = 'https://www.tabs3.com/support/sample/apreports.pdf'

In [ ]:
iv = download_file(iv_url)
print(iv)

apreports.pdf

In [ ]:
with pdfplumber.open(iv) as pdf:
    page = pdf.pages[15]
    text = page.extract_text()

In [ ]:
print(text)

AccountsPayableReportPack
changeswillbereflectedunderthe"New"heading.Whenaninvoiceormanualcheckisdeleted,
theInvoiceAmountisautomaticallychangedtozeroandtheStatusfieldischangedto"D".
TotalTransactionCount Totalnumberoftransactionsonthelistincludingchangesanddeletions.Eachchangedtransaction
(i.e.,botholdandnew)countsasonetransaction.
1Notshownonsamplereport.
Invoice by Vendor List
Date: 08/25/2020 Invoice by Vendor List Page: 1
Jensen, Martin & Anderson, P.C.
Inv Due Inv Disc Disc Net
Voucher # Invoice # Date Date Amount Amount Date Amount 1099 Ref # Description Codes
200 United Parcel Service
200.01MLJ 3243387 032620 062620 75.00 P 75.00 1 Overnight document delivery * 1
3243387 032720 062720 75.00 P 75.00 3 Postage * 1
3243387 072620 072620 75.00 P 75.00 2 Overnight document delivery * 1
Vendor Totals 225.00 0.00 225.00
202 Software Technology, LLC
312205 082020 082520 490.00 P 490.00 1 Software Maintenance Agreement Tabs3 * 1
312206 082020 082520 239.00 P 239.00 2 Software Maintenance Agreement Tabs3 General Ledger * 1
312207 082020 082520 239.00 P 239.00 3 Software Maintenance Agreement Tabs3 Accounts Payable * 1
312208 082020 082520 239.00 P 239.00 4 Software Maintenance Agreement Tabs3 Trust Accounting * 1
312209 082020 082520 800.00 P 800.00 5 Software Maintenance Agreement PracticeMaster (9 Users) * 1
312210 082020 082520 105.00 P 105.00 6 Software Maintenance Agreement Tabs3 Taskbill * 1
320559 082520 083020 205.00 205.00 7 Purchase Tabs3 Device Interface Program 1
Vendor Totals 2,317.00 0.00 2,317.00
203 Clerk of the County Court
200.01PAM 042620 042620 225.00 P 225.00 1 Documentation Fee, Filing Fee, and Sheriff Service Fee * 1
Vendor Totals 225.00 0.00 225.00
204 Clerk of the District Court
032720 032720 75.00 P 75.00 2 Filing fee * 1
052020 052020 75.00 P 75.00 3 Filing fee * 1
850.00 RON 082020 082020 150.00 150.00 1 Petition for Dissolution of Marriage Filing Fee 1
Vendor Totals 300.00 0.00 300.00
225 Jackson/Wylinda
122419 122419 750.00 P 750.00 Y 2 Holiday Party * 1
072620 072620 1,500.00 P 1,500.00 Y 1 Catering/Firm Retreat * 1
Vendor Totals 2,250.00 0.00 2,250.00
240 NELCO
5065 2094756 072620 082620 129.85 P 129.85 1 Check order for APS and TAS Checks * 1
Vendor Totals 129.85 0.00 129.85
250 D & B Real Estate Management Company
AUTO 072220 072220 7,500.00 P 7,500.00 Y 1 Monthly Rent (Including Electric, Gas & Garbage) * 1
AUTO 072620 072620 7,500.00 P 7,500.00 Y 2 Monthly Rent (Including Electric, Gas & Garbage) * 1
5074 KEY 081320 081320 10.00 10.00 N 3 Duplicate Key for building 1
Vendor Totals 15,010.00 0.00 15,010.00
300 Thomson Reuters Payment Center
042520 042520 4.00 P 4.00 3 Online Legal Research * 1
052420 052420 75.00 P 75.00 1 Online Legal Research * 1
062520 062520 40.00 P 40.00 4 Online Legal Research * 1
072920 072920 4.00 P 4.00 2 Online Legal Research * 1
073020 073020 50.00 P 50.00 5 Online Legal Research * 1
073020 073020 50.00 P 50.00 6 Online Legal Research * 1
073020 073020 50.00 P 50.00 7 Online Legal Research * 1
073020 073020 50.00 P 50.00 8 Online Legal Research * 1
Vendor Totals 323.00 0.00 323.00
325 Professional Messenger Services
062120 062120 20.00 P 20.00 Y 2 Courier Fee * 1
062420 062420 25.00 P 25.00 Y 4 Courier Fee * 1
082520 082520 47.50 P 47.50 Y 1 Courier Fee * 1
082520 082520 35.00 P 35.00 Y 3 Courier Fee * 1
Vendor Totals 127.50 0.00 127.50
400 Sprint Local & Long Distance
402310760011 082020 082520 68.96 68.96 1 November Cell Phone Charges  1
Vendor Totals 68.96 0.00 68.96
700 Clean All Janitorial Services
AUTO 072220 072520 750.00 P 750.00 Y 1 Monthly Cleaning Charges (Bi-Weekly Service) * 1
AUTO 072620 082520 750.00 750.00 Y 2 Monthly Cleaning Charges (Bi-Weekly Service) 1
Vendor Totals 1,500.00 0.00 1,500.00
Grand Totals 22,476.31 0.00 22,476.31
-16-

In [ ]:
new_vend_re = re.compile(r'^\d{3} [A-Z].*')

In [ ]:
for line in text.split('\n'):
    if new_vend_re.match(line):
     print(line)

200 United Parcel Service
202 Software Technology, LLC
203 Clerk of the County Court
204 Clerk of the District Court
225 Jackson/Wylinda
240 NELCO
250 D & B Real Estate Management Company
300 Thomson Reuters Payment Center
325 Professional Messenger Services
400 Sprint Local & Long Distance
700 Clean All Janitorial Services

In [ ]:
for line in text.split('\n'):
    if new_vend_re.match(line):
        vend_num, *vend_name = line.split()
        vend_name = ' '.join(vend_name)
        print(vend_num)
        print(vend_name)

200
United Parcel Service
202
Software Technology, LLC
203
Clerk of the County Court
204
Clerk of the District Court
225
Jackson/Wylinda
240
NELCO
250
D & B Real Estate Management Company
300
Thomson Reuters Payment Center
325
Professional Messenger Services
400
Sprint Local & Long Distance
700
Clean All Janitorial Services

In [ ]:
inv_line_re = re.compile(r'(\d{6}) (\d{6}) ([\d,]+\.\d{2}) [\sP]*([\d,]+\.\d{2}) [YN ]*\d (.*?) [*\s\d]')

In [ ]:
line_items = []
for line in text.split('\n'):
    if new_vend_re.match(line):
        vend_num, *vend_name = line.split()
        vend_name = ' '.join(vend_name)    
    
    line = inv_line_re.search(line)
    if line:
        inv_dt = line.group(1)
        due_dt = line.group(2)
        inv_amt = line.group(3)
        net_amt = line.group(4)
        desc = line.group(5)
        line_items.append(Inv(vend_num, vend_name, inv_dt, due_dt, inv_amt, net_amt, desc))

In [ ]:
df = pd.DataFrame(line_items)
df.head()

  vend_num  ...                                        description
0      200  ...                        Overnight document delivery
1      200  ...                                            Postage
2      200  ...                        Overnight document delivery
3      202  ...               Software Maintenance Agreement Tabs3
4      202  ...  Software Maintenance Agreement Tabs3 General L...

[5 rows x 7 columns]

In [ ]:
df.head()

  vend_num  ...                                        description
0      200  ...                        Overnight document delivery
1      200  ...                                            Postage
2      200  ...                        Overnight document delivery
3      202  ...               Software Maintenance Agreement Tabs3
4      202  ...  Software Maintenance Agreement Tabs3 General L...

[5 rows x 7 columns]

In [ ]:
df['inv_dt'] = pd.to_datetime(df['inv_dt'])
df['due_dt'] = pd.to_datetime(df['due_dt'])

In [ ]:
df.head()

  vend_num  ...                                        description
0      200  ...                        Overnight document delivery
1      200  ...                                            Postage
2      200  ...                        Overnight document delivery
3      202  ...               Software Maintenance Agreement Tabs3
4      202  ...  Software Maintenance Agreement Tabs3 General L...

[5 rows x 7 columns]

In [ ]:
df['inv_amt'] = df['inv_amt'].map(lambda x: float(x.replace(',', '')))

In [ ]:
df.sum()

vend_num       2002002002022022022022022022022032042042042252...
vend_name      United Parcel ServiceUnited Parcel ServiceUnit...
inv_amt                                                  22476.3
net_amt        75.0075.0075.00490.00239.00239.00239.00800.001...
description    Overnight document deliveryPostageOvernight do...
dtype: object

In [ ]:
df.to_csv('inv_lines.csv')